# --- Python 虚拟环境 ---
# Windows 虚拟环境目录和文件
venv/       
Scripts/   
Lib/       
Include/    
pyvenv.cfg  

# --- Python 通用忽略 ---
__pycache__/  
*.py[cod]     
*.egg-info/   
dist/         
build/        
